[Unit]
Description=Media drive backup daemon
ConditionPathExists=/etc/mediabackupd/mediabackupd.conf

[Service]
Type=oneshot
CPUQuota=35%
ExecStart=/usr/local/bin/mediabackup
